<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @baby.name %>
</p>

<ul>
  <% @baby.breast_feedings.each do |bf|%>
    <li><span>Cantidad: <%= bf.quantity %>, Duración: <%= bf.duration %></span></li>
    <% end%>
</ul>


<table>
  <thead>
    <tr>
    <th>Veces que ha tomado hoy</th>
    <th>Fecha de la última vez que bebió</th>
    <th>Cuanto tiempo ha tomado hoy</th>
    <th>Cuanto ha bebido hoy</th>
  </thead>

  <tbody>
    <td><%= @baby.breast_feeding_times_today%></td>
    <td><%= @baby.last_time_drinking%></td>
    <td><%= @baby.breast_feeding_duration_today %></td>
    <td><%= @baby.breast_feeding_quantity_today%></td>
  </tbody>

</table>

<%= link_to 'Edit', edit_baby_path(@baby) %> |
<%= link_to 'Back', babies_path %>
